@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-cus-white: #fbfbfb;
  --font-Barrio: "Barrio", serif;
  --font-Gummy: "Sour Gummy", serif;

  --breakpoint-xs: 370px;
}
