@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-cus-white: #fbfbfb;
  --font-Barrio: "Barrio", serif;
  --font-Funnel: "Funnel Display", serif;

  --breakpoint-xs: 370px;
}
